<div [ngSwitch]="state.loadState.tag">
    <p style="font-size:larger" *ngSwitchCase="'Empty'">No cats. 😿</p>

    <ng-container *ngSwitchCase="'Loading'">
      <p-progress-spinner class="spinner-container" *ngSwitchCase="'Loading'" ariaLabel="loading"></p-progress-spinner>
    </ng-container>


    <ng-container *ngSwitchCase="'Loaded'">
      <!-- needed to narrow `value.images` -->
      <ng-container *ngIf="state.loadState.tag === 'Loaded'; else errorBlock">

        <p-galleria [value]="state.loadState.images" [showIndicators]="true" [showThumbnails]="false" [changeItemOnIndicatorHover]="true" [containerStyle]="{ 'max-height': '380px', 'max-width': '320px' }">
          <ng-template #item let-item>
            <img [src]="item" style="object-fit: cover; width: 320px; height: 320px; " />
          </ng-template>
        </p-galleria>
      </ng-container>
    </ng-container>

    <ng-template #errorBlock>
      <div *ngIf="state.loadState.tag === 'Error'">
        <p>Error: {{ state.loadState.error }}</p>
      </div>
    </ng-template>
  </div>