<div [ngSwitch]="state.tag">
    <div *ngIf="state.tag === 'Error'">
      <p>Error: {{ state.error }}</p>
    </div>

    <p style="font-size:larger" *ngSwitchCase="'Empty'">No cats. 😿</p>


    <ng-container *ngSwitchCase="'Loading'">
      <p-progress-spinner class="spinner-container" *ngSwitchCase="'Loading'" ariaLabel="loading"></p-progress-spinner>
    </ng-container>


    <ng-container *ngSwitchCase="'Loaded'">
      <!-- needed to narrow `value.images` -->
      <ng-container *ngIf="state.tag === 'Loaded'">

        <p-galleria [value]="state.images" [showIndicators]="true" [showThumbnails]="false" [changeItemOnIndicatorHover]="true" [containerStyle]="{ 'max-height': '380px', 'max-width': '320px' }">
          <ng-template #item let-item>
            <img [src]="item" style="object-fit: cover; width: 320px; height: 320px; " />
          </ng-template>
        </p-galleria>
      </ng-container>
    </ng-container>
  </div>